<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure File sharing Using FTP</title>
    <h1>{{headerr}}</h1>

</head>
<body>
    <div style="display: flex;text-align: center;border: 5px black solid ;padding:100px">
        <label>select file you want to upload</label>
        <br>
        <input type="file">
        <button type="submit">submit</button>
    </div>
</body>
</html>